body {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 21px;
}
.wrapper {
  /* border: 1px dashed black; */
  width: 570px;
  margin: 0 auto;
}

section {
  padding: 100px 0;
}

h1,
h2 {
  font-weight: 300;
  margin-top: 0;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 42px;
}

h3 {
  font-size: 36px;
  font-weight: 900;
  margin: 0;
}

.small {
  font-size: 16px;
  margin-top: 0;
}

.hOne,
.hTwo {
  font-weight: 900;
  display: block;
}

.hOne {
  font-size: 80px;
}

.hTwo {
  font-size: 60px;
}

a {
  color: #99d930;
  font-weight: 900;
}

a:hover,
a:focus {
  color: #131313;
}

.header {
  background-color: #d7d7d7;
}

.about-me {
  background-color: #ffeaea;
}

.my-work {
  background-color: #eaf9ff;
}

.dark {
  background: #252525;
  color: #fff;
}

.buttons {
  display: inline-block;
  color: #252525;
  background: #99d930;
  text-decoration: none;
  padding: 10px 25px;
  margin: 25px auto;
}

.buttons:hover,
.buttons:active {
  color: #fff;
  background: #252525;
}
